 <h1>메시</h1>
        <% if user_signed_in? %>
            <h2>로그인</h2>
        <% else %>
        <%= "로그인이 되어있지 않습니다"%>
        <% end %>
        <img src="messi_test.jpg"></img>
        <p>위에는 이미지<br/>나는 문단.</p>
        
        <div>
            <span> span </span>
            <span> span </span>
            <p> ppppppp </p>
            <p> ppppppp </p>
            <p> ppppppp </p>
            <ul>
                <li>1번</li>
                <li>2번</li>
                <li>3번</li>
            </ul>
            <ol>
                
            </ol>
        </div>